name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  syscall:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Build
        run: cargo build --verbose --verbose
        working-directory: syscall
        
      - name: Run tests
        run: cargo test --verbose --verbose
        working-directory: syscall
    
  asm:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install GCC
        run: |
          sudo apt-get update
          sudo apt-get install gcc
      
      - name: Build
        run: cargo build --verbose --verbose
        working-directory: asm
        
      - name: Run tests
        run: cargo test --verbose --verbose
        working-directory: asm
